#### Import Necessary Packages

In [1]:
import pandas as pd
from sqlalchemy import create_engine

#### Import Dataset

In [2]:
staff = pd.read_csv('staff.csv')
flight = pd.read_csv('flight.csv')
hotel = pd.read_csv('hotel.csv')
car = pd.read_csv('car.csv')

#### Define the PostgreSQL connection URL

In [3]:
conn_url = "postgresql://postgres:123@localhost:5432/5310_Project"

#### Create an engine that connects to PostgreSQL and Establish a connection

In [4]:
engine = create_engine(conn_url)
conn = engine.connect()

#### Pass SQL "Create Table" and "Trigger" statement

In [5]:
stmt = """
CREATE TABLE Staff(
    username varchar(50),
    passwd varchar(30) NOT NULL,
    first_name varchar(30) NOT NULL,
    last_name varchar(30) NOT NULL,
    dob date,
    PRIMARY KEY(username)
);

CREATE TABLE Airport(
    airport_name varchar(10),
    city varchar(30) NOT NULL,
    state varchar(30), --nullable (e.g. Tokyo does not have a corresponding state)
    country varchar(30) NOT NULL,
    zip_code varchar(20) NOT NULL,
    PRIMARY KEY (airport_name)
);

CREATE TABLE Airline(
    airline_name varchar(20),
    headquarter_city varchar(30) NOT NULL,
    headquarter_state varchar(30),
    headquarter_country varchar(30) NOT NULL,
    PRIMARY KEY (airline_name)
);

CREATE TABLE Airplane(
    plane_id varchar(10),
    aircraft_age real NOT NULL,
    capacity smallint NOT NULL,
    type varchar(50) NOT NULL,
    description varchar(100) NOT NULL,
    PRIMARY KEY (plane_id)
);

CREATE TABLE Flight(
    flight_num varchar(10),
    depart_time timestamp NOT NUll,
    depart_airport varchar(10) NOT NULL,
    arrival_time timestamp NOT NUll, 
    arrival_airport varchar(10) NOT NULL,
    airline_name varchar(20),
    base_price real NOT NULL,
    flight_status varchar(10) NOT NULL,
    PRIMARY KEY(flight_num,depart_time),
    FOREIGN KEY(depart_airport) REFERENCES Airport(airport_name),
    FOREIGN KEY(arrival_airport) REFERENCES Airport(airport_name),
    FOREIGN KEY(airline_name) REFERENCES Airline(airline_name)
);

CREATE TABLE Operate(
    flight_num varchar(10),
    depart_time timestamp NOT NULL,
    plane_id varchar(10),
    PRIMARY KEY (flight_num,depart_time),
    FOREIGN KEY (flight_num,depart_time) REFERENCES Flight(flight_num,depart_time),
    FOREIGN KEY (plane_id) REFERENCES Airplane(plane_id)
);

CREATE TABLE Customer(
    cust_email varchar(50),
    first_name varchar(60) NOT NULL,
    last_name varchar(60) NOT NULL,
    passwd varchar(30) NOT NULL,
    street varchar(50) NOT NULL,
    city varchar(80) NOT NULL,
    state_province varchar(60),
    country varchar(80) NOT NULL,
    zip_code varchar(20),
    phone_number varchar(20) NOT NULL,
    passport_num varchar(20) NOT NULL,
    passport_expiration date NOT NULL,
    passport_country varchar(60) NOT NULL,
    dob date,
    PRIMARY KEY(cust_email)
);

CREATE TABLE Ticket(
    ticket_id int,
    cust_email varchar(50),
    purchase_date timestamp NOT NULL,
    seat_num varchar(10) NOT NULL,
    price real NOT NULL,
    card_number varchar(20) NOT NULL,
    card_holder varchar(60) NOT NULL,
    card_type varchar(20) NOT NULL,
    card_expiration date NOT NULL,
    CVV_code int NOT NULL,
    PRIMARY KEY (ticket_id),
    FOREIGN KEY (cust_email) REFERENCES Customer(cust_email)
);

CREATE TABLE TicketFlight(
    ticket_id int,
    flight_num varchar(10),
    depart_time timestamp,
    PRIMARY KEY(ticket_id),
    FOREIGN KEY(flight_num,depart_time) REFERENCES Flight(flight_num,depart_time),
    FOREIGN KEY(ticket_id) REFERENCES Ticket(ticket_id)
);

CREATE TABLE rate_flight(
    cust_email varchar(50),
    flight_num varchar(10),
    depart_time timestamp,
    date timestamp,
    rating int,
    comments varchar(500),
    PRIMARY KEY (cust_email,flight_num,depart_time,date),
    FOREIGN KEY (cust_email) REFERENCES Customer(cust_email),
    FOREIGN KEY (flight_num,depart_time) REFERENCES Flight(flight_num,depart_time)
);


CREATE TABLE Hotel(
    hotel_id varchar(10),
    name varchar(30) NOT NULL,
    stars smallint NOT NULL,
    street varchar(50) NOT NULL,
    city varchar(30) NOT NULL,
    state varchar(30),
    country varchar(30) NOT NULL,
    zip_code varchar(20) NOT NULL,
    PRIMARY KEY(hotel_id)
);

CREATE TABLE Room(
    room_id varchar(10),
    hotel_id varchar(10),
    number varchar(8) NOT NULL,
    type varchar(15) NOT NULL,
    max_occupancy smallint NOT NULL,
    floor smallint NOT NULL,
    footprint varchar(15) NOT NULL,
    notes varchar(100) NOT NULL,
    price int,
    PRIMARY KEY (room_id),
    FOREIGN KEY (hotel_id) REFERENCES Hotel(hotel_id)
);

CREATE TABLE Reserve(
    guest_email varchar(50),
    room_id varchar(10),
    check_in_date timestamp,
    check_out_date timestamp NOT NULL,
    purchase_date timestamp NOT NULL,
    rate_per_night real NOT NULL,
    card_number varchar(20) NOT NULL,
    card_holder varchar(60) NOT NULL,
    card_type varchar(20) NOT NULL,
    card_expiration date NOT NULL,
    CVV_code int NOT NULL,
    PRIMARY KEY (guest_email,room_id,check_in_date),
    FOREIGN KEY (guest_email) REFERENCES Customer (cust_email),
    FOREIGN KEY (room_id) REFERENCES Room (room_id)
);


CREATE TABLE rate_hotel(
    cust_email varchar(50),
    hotel_id varchar(10),
    date timestamp,
    rating int,
    comments varchar(500),
    PRIMARY KEY (cust_email,hotel_id,date),
    FOREIGN KEY (cust_email) REFERENCES Customer (cust_email),
    FOREIGN KEY (hotel_id) REFERENCES Hotel (hotel_id)
);

CREATE TABLE rental_company(
    company_id varchar(10),
    name varchar(30) NOT NULL,
    city varchar(30) NOT NULL,
    state varchar(30),
    country varchar(30) NOT NULL,
    zip_code varchar(20) NOT NULL,
    PRIMARY KEY (company_id)
);

CREATE TABLE Car(
    car_id varchar(10),
    company_id varchar(10),
    brand varchar(30) NOT NULL,
    type varchar(20) NOT NULL,
    color varchar(10) NOT NULL,
    car_age real NOT NULL,
    base_price real NOT NULL,
    PRIMARY KEY (car_id),
    FOREIGN KEY (company_id) REFERENCES rental_company(company_id)
);

CREATE TABLE Rent(
    cust_email varchar(50),
    car_id varchar(10),
    rent_date timestamp,
    return_date timestamp NOT NULL,
    purchase_date timestamp NOT NULL,
    rate_per_day real NOT NULL,
    card_number varchar(20) NOT NULL,
    card_holder varchar(60) NOT NULL,
    card_type varchar(20) NOT NULL,
    card_expiration date NOT NULL,
    CVV_code int NOT NULL,
    PRIMARY KEY (cust_email,car_id,rent_date),
    FOREIGN KEY (cust_email) REFERENCES Customer(cust_email),
    FOREIGN KEY (car_id) REFERENCES Car(car_id)
);

CREATE TABLE rate_company(
    cust_email varchar(50),
    company_id varchar(10),
    date timestamp,
    rating int,
    comments varchar(500),
    PRIMARY KEY (cust_email,company_id,date),
    FOREIGN KEY (cust_email) REFERENCES Customer(cust_email),
    FOREIGN KEY (company_id) REFERENCES rental_company(company_id)
);


---- Trigger preventing customers from rating hotels before their check-out time
CREATE OR REPLACE FUNCTION hotel_review_trigger_function()
	RETURNS trigger AS
	$$
	  BEGIN
	  	 IF (
			SELECT
			 	COUNT(DISTINCT rs.guest_email)
		 	FROM
			reserve as rs
            JOIN
            room as ro
            ON ro.room_id = rs.room_id
            JOIN
            hotel as ht
            ON ro.hotel_id = ht.hotel_id
			WHERE
			   rs.guest_email = NEW.cust_email
            AND
               ro.hotel_id = NEW.hotel_id
            AND
               NEW.date >= rs.check_out_date
       ) = 0
       THEN RAISE EXCEPTION 'guest cannot post a review';
       END IF;
       RETURN NEW;
      END;
   $$
LANGUAGE plpgsql;

CREATE TRIGGER hotel_review_trigger_function
BEFORE INSERT OR UPDATE OR DELETE ON rate_hotel
FOR EACH ROW EXECUTE PROCEDURE hotel_review_trigger_function();

---- Trigger preventing customers from rating rental companys before their return-car time

CREATE OR REPLACE FUNCTION rentalcompany_review_trigger_function()
	RETURNS trigger AS
	$$
	  BEGIN
	  	 IF (
			SELECT
			 	COUNT(DISTINCT re.cust_email)
		 	FROM
			rent as re
            JOIN
            car as ca
            ON re.car_id = ca.car_id
            JOIN
            rental_company as rc
            ON ca.company_id = rc.company_id
			WHERE
			   re.cust_email = NEW.cust_email
            AND
               ca.company_id = NEW.company_id
            AND
               NEW.date >= re.return_date
       ) = 0
       THEN RAISE EXCEPTION 'customer cannot post a review';
       END IF;
       RETURN NEW;
      END;
   $$
LANGUAGE plpgsql;

CREATE TRIGGER rentalcompany_review_trigger_function
BEFORE INSERT OR UPDATE OR DELETE ON rate_company
FOR EACH ROW EXECUTE PROCEDURE rentalcompany_review_trigger_function();

---- Trigger preventing customers from flights before flight arrival time

CREATE OR REPLACE FUNCTION flight_review_trigger_function()
	RETURNS trigger AS
	$$
	  BEGIN
	  	 IF (
			SELECT
			 	COUNT(DISTINCT T.cust_email)
		 	FROM
			flight as F
            JOIN
            TicketFlight as TF
            ON F.flight_num = TF.flight_num
            JOIN
            Ticket as T
            ON T.ticket_id = TF.ticket_id
			WHERE
			   T.cust_email = NEW.cust_email
            AND
               F.flight_num = NEW.flight_num
            AND
               NEW.date >= F.arrival_time
       ) = 0
       THEN RAISE EXCEPTION 'customer cannot post a review';
       END IF;
       RETURN NEW;
      END;
   $$
LANGUAGE plpgsql;

CREATE TRIGGER flight_review_trigger_function
BEFORE INSERT OR UPDATE OR DELETE ON rate_flight
FOR EACH ROW EXECUTE PROCEDURE flight_review_trigger_function();

"""

conn.execute(stmt)

/var/folders/m_/nxhs2y711k97dyf8cm02q5740000gn/T/ipykernel_34921/2969394865.py:328: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(stmt)

#### Table "staff" Data

In [6]:
staff_df = staff

# Dropping missing values
staff_df = staff_df.dropna()

# Remove Duplicates
staff_df = staff_df.drop_duplicates().reset_index(drop=True)

#### Insert table "staff" data into the database

In [7]:
staff_df.to_sql(name='staff', con=engine, if_exists='append', index=False)

21

#### Table "Customer" Data

In [8]:
# Customer information from flight dataset
customer_flight_df = flight[['cust_email','first_name','last_name','passwd','street','city','state_province','country','zip_code' \
              ,'phone_number','passport_num','passport_expiration','passport_country','dob']]
# Customer information from car dataset
customer_car_df = car[['cust_email','first_name','last_name','passwd','street','city','state_province','country','zip_code' \
                 ,'phone_number','passport_num','passport_expiration','passport_country','dob']]
# Customer information from hotel dataset
customer_hotel_df = hotel[['cust_email','first_name','last_name','passwd','street','city','state_province','country','zip_code' \
                     ,'phone_number','passport_num','passport_expiration','passport_country','dob']]

# Concat three dataframes into one dataframe
df_temp = pd.concat([customer_flight_df,customer_car_df])
customer_df = pd.concat([df_temp,customer_hotel_df])

# Dropping duplicate tuples
customer_df = customer_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Customer" data into the database

In [9]:
customer_df.to_sql(name='customer', con=engine, if_exists='append', index=False)

20

#### Table "Ticket" Data

In [10]:
ticket_df = flight[['ticket_id','cust_email','purchase_date','seat_num','price','card_number','card_holder','card_type','card_expiration','cvv_code']]

# Dropping missing values
ticket_df = ticket_df.dropna()

# Change card_number column type to integer (removing decimals)
ticket_df['card_number'] = ticket_df['card_number'].astype(int)

# Dropping duplicate tuples
ticket_df = ticket_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Ticket" data into the database

In [11]:
ticket_df.to_sql(name='ticket', con=engine, if_exists='append', index=False)

217

#### Table "Airport" Data

In [12]:
# Departure Airport information from flight dataset
depart_airport_df = flight[['depart_airport','depart_city','depart_state','depart_country','depart_zip_code']]

# Arrival Airport information from flight dataset
arrival_airport_df = flight[['arrival_airport','arrival_city','arrival_state','arrival_country','arrival_zip_code']]

# Rename columns to match column name in database
depart_airport_df = depart_airport_df.rename(columns={'depart_airport':'airport_name','depart_city':'city','depart_state':'state','depart_country':'country','depart_zip_code':'zip_code'})
arrival_airport_df = arrival_airport_df.rename(columns={'arrival_airport':'airport_name','arrival_city':'city','arrival_state':'state','arrival_country':'country','arrival_zip_code':'zip_code'})

# Concat two dataframes into one 
depart_airport_df = pd.concat([depart_airport_df,arrival_airport_df])
# Dropping duplicate tuples
airport_df = depart_airport_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Airport" data into the database

In [13]:
airport_df.to_sql(name='airport', con=engine, if_exists='append', index=False)

90

#### Table "Airplane" Data

In [14]:
airplane_df = flight[['plane_id','aircraft_age','capacity','type','description']]

# Dropping duplicated tuples
airplane_df = airplane_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
airplane_df = airplane_df.dropna()

#### Insert table "Airplane" data into the database

In [15]:
airplane_df.to_sql(name='airplane', con=engine, if_exists='append', index=False)

101

#### Table "Airline" Data

In [16]:
airline_df = flight[['airline_name','airline_city','airline_state','airline_country']]

airline_df = airline_df.rename(columns={'airline_city':'headquarter_city','airline_state':'headquarter_state','airline_country':'headquarter_country'})

# Dropping duplicate tuples
airline_df = airline_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Airline" data into the database

In [17]:
airline_df.to_sql(name='airline', con=engine, if_exists='append', index=False)

8

#### Table "Flight" Data

In [18]:
flight_df = flight[['flight_num','depart_time','depart_airport','arrival_time','arrival_airport','airline_name','base_price','flight_status']]

# Dropping duplicate tuples
flight_df = flight_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
flight_df = flight_df.dropna()

#### Insert table "Flight" data into the database

In [19]:
flight_df.to_sql(name='flight', con=engine, if_exists='append', index=False)

101

#### Table "Operate" Data

In [20]:
operate_df = flight[['flight_num','depart_time','plane_id']]

# Dropping duplicate tuples
operate_df = operate_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
operate_df = operate_df.dropna()

#### Insert table "Operate" data into the database

In [21]:
operate_df.to_sql(name='operate', con=engine, if_exists='append', index=False)

101

#### Table "TicketFlight" Data

In [22]:
TicketFlight_df = flight[['ticket_id','flight_num','depart_time']]

# Dropping duplicate tuples
TicketFlight_df = TicketFlight_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
TicketFlight_df = TicketFlight_df.dropna()

#### Insert table "TicketFlight" data into the database

In [23]:
TicketFlight_df.to_sql(name='ticketflight', con=engine, if_exists='append', index=False)

217

#### Table "rate_flight" Data

In [24]:
rate_flight_df = flight[['cust_email','flight_num','depart_time','date','rating','comments']]

# Dropping duplicate tuples
rate_flight_df = rate_flight_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
rate_flight_df = rate_flight_df.dropna()

#### Insert table "rate_flight" data into the database

In [25]:
rate_flight_df.to_sql(name='rate_flight', con=engine, if_exists='append', index=False)

216

#### Table "Hotel" Data

In [26]:
hotel_df = hotel[['hotel_id','name','stars','hotel_street','hotel_city','hotel_state','hotel_country','hotel_zip_code']]

# Rename columns to match column name in database
hotel_df = hotel_df.rename(columns={'hotel_street':'street','hotel_city':'city','hotel_state':'state','hotel_country':'country','hotel_zip_code':'zip_code'})

# Dropping duplicate tuples
hotel_df = hotel_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Hotel" data into the database

In [27]:
hotel_df.to_sql(name='hotel', con=engine, if_exists='append', index=False)

14

#### Table "Room" Data

In [28]:
room_df = hotel[['room_id','hotel_id','number','type','max_occupancy','floor','footprint','notes','price']]

# Dropping duplicated tuples
room_df = room_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
room_df = room_df.dropna()

#### Insert table "Room" data into the database

In [29]:
room_df.to_sql(name='room', con=engine, if_exists='append', index=False)

214

#### Table "Reserve" Data

In [30]:
reserve_df = hotel[['cust_email','room_id','check_in_date','check_out_date','purchase_date','rate_per_night','card_number',
                    'card_holder','card_type','card_expiration','cvv_code']]

reserve_df = reserve_df.rename(columns={'cust_email':'guest_email'})

# Dropping missing values
reserve_df = reserve_df.dropna()

# Dropping duplicate tuples
reserve_df = reserve_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Reserve" data into the database

In [31]:
reserve_df.to_sql(name='reserve', con=engine, if_exists='append', index=False)

216

#### Table "rate_hotel" Data

In [32]:
rate_hotel_df = hotel[['cust_email','hotel_id','date','rating','comments']]

# Dropping missing values
rate_hotel_df = rate_hotel_df.dropna()

# Dropping duplicate tuples
rate_hotel_df = rate_hotel_df.drop_duplicates().reset_index(drop=True)

#### Insert table "rate_hotel" data into the database

In [33]:
rate_hotel_df.to_sql(name='rate_hotel', con=engine, if_exists='append', index=False)

175

#### Table "rental_company" Data

In [34]:
rental_company_df = car[['company_id','name','company_city','company_state','company_country','company_zip_code']]

# Rename columns to match column name in database

rental_company_df = rental_company_df.rename(columns={'company_city':'city','company_state':'state','company_country':'country',
                                                     'company_zip_code':'zip_code'})

# Dropping missing values
rental_company_df = rental_company_df.dropna()

# Dropping duplicate tuples
rental_company_df = rental_company_df.drop_duplicates().reset_index(drop=True)

#### Insert table "rental_company" data into the database

In [35]:
rental_company_df.to_sql(name='rental_company', con=engine, if_exists='append', index=False)

3

#### Table "Car" Data

In [36]:
car_df = car[['car_id','company_id','brand','type','color','car_age','base_price']]

# Dropping missing values
car_df = car_df.dropna()

# Dropping duplicate tuples
car_df = car_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Car" data into the database

In [37]:
car_df.to_sql(name='car', con=engine, if_exists='append', index=False)

216

#### Table "Rent" Data

In [38]:
rent_df = car[['cust_email','car_id','rent_date','return_date','purchase_date','rate_per_day','card_number',
                    'card_holder','card_type','card_expiration','cvv_code']]
# Dropping missing values
rent_df = rent_df.dropna()

# Dropping duplicate tuples
rent_df = rent_df.drop_duplicates().reset_index(drop=True)

#### Insert table "Rent" data into the database

In [39]:
rent_df.to_sql(name='rent', con=engine, if_exists='append', index=False)

216

#### Table "rate_company" Data

In [40]:
rate_company_df = car[['cust_email','company_id','date','rating','comments']]

# Dropping duplicate tuples
rate_company_df = rate_company_df.drop_duplicates().reset_index(drop=True)

# Dropping missing values
rate_company_df = rate_company_df.dropna()

#### Insert table "rate_company" data into the database

In [41]:
rate_company_df.to_sql(name='rate_company', con=engine, if_exists='append', index=False)

178